$o: null;
@if $override == yes {
  $o: !important;
}

$ch: null;
@if $colored-headers {
  $ch: $colored-headers;
}

$cl: null;
@if $colored-links == yes {
  $cl: yes;
}

$ce: null;
@if $colored-inline-elements {
  $ce: $colored-inline-elements;
}

$cg: null;
@if $enable-color-generator == yes {
  $cg: yes;
}

@if $cg {
  $color-preset: ();
  @each $r in $red {
    @each $g in $green {
      @each $b in $blue {
        $color-preset: append($color-preset, 'gen' (#{$r}#{$g}#{$b}), 'comma');
      }
    }
  }
}

  $c-sel:    null;
  $c-sel-a:  null;
  $c-sel-h:  null;
  $c-sel-ht: null;
  $c-sel-ie: null;
 $cb-sel:    null;
$cbg-sel:    null;
$ctd-sel:    null;
$ctd-sel-a:  null;

$n: null;
$c: null;
$i: 1;
@each $name, $hexcodes in $color-preset {
  $j: 1;
  @each $c in $hexcodes {
    @if $index-classes == yes {
      @if $cg { $n: #{$i}; } @else { $n: #{$i}-#{$j}; }
    } @else if $color-label == name { 
      @if $cg { $n: #{$c}; } @else { $n: #{$name}#{$j}; }
      } @else if $color-label == code {
      $n: #{$c};
      } @else { @error "colorlabel setting must be either > name or > code.";
    }
  @if $selectors == long {
    $ctd-sel:   ".text-decoration-color-#{$n}";
    $ctd-sel-a: ".text-decoration-color-#{$n}-a a";
    $cbg-sel:        ".background-color-#{$n}";
     $cb-sel:            ".border-color-#{$n}";
      $c-sel:                   ".color-#{$n}";
      $c-sel-a:                 ".color-#{$n}-a a";
  @if $cl {
     $c-sel-h:                  ".color-#{$n}-header";
     $c-sel-ht:();
     @each $ht in $ch {
       $c-sel-ht: append($c-sel-ht,".color-#{$n}-#{$ht} #{$ht}",'comma');
      }
    }
  @if $ce {
       $c-sel-ie:();
     @each $e in $ce {
       $c-sel-ie: append($c-sel-ie,".color-#{$n}-#{$e} #{$e}",'comma');
      }
    }
  }
  @if $selectors == short {
    $ctd-sel:   ".ctd-#{$n}";
    $ctd-sel-a: ".ctd-#{$n}-a a";
    $cbg-sel:   ".cbg-#{$n}";
     $cb-sel:    ".cb-#{$n}";
      $c-sel:     ".c-#{$n}";
      $c-sel-a:   ".c-#{$n}-a a";
  @if $cl {
       $c-sel-h:  ".c-#{$n}-h";
       $c-sel-ht:();
     @each $ht in $ch {
       $c-sel-ht: append($c-sel-ht,".c-#{$n}-#{$ht} #{$ht}",'comma');
      }
    }
  @if $ce {
       $c-sel-ie:();
     @each $e in $ce {
       $c-sel-ie: append($c-sel-ie,".c-#{$n}-#{$e} #{$e}",'comma');
      }
    }
  }
            #{$ctd-sel} { text-decoration-color: ##{$c}$o; }
  @if $cl { #{$ctd-sel-a} {           @extend #{$ctd-sel}; } }   
            #{$cbg-sel} {      background-color: ##{$c}$o; }
             #{$cb-sel} {          border-color: ##{$c}$o; }
              #{$c-sel} {                 color: ##{$c}$o; }
  @if $cl {   #{$c-sel-a} {             @extend #{$c-sel}; } }
  @if $ce {   #{$c-sel-ie} {            @extend #{$c-sel}; } }
  @if $ch {   #{$c-sel-h} {    #{$ch} { @extend #{$c-sel}; } }
              #{$c-sel-ht} {            @extend #{$c-sel}; } }
  $j: $j + 1;
  }
  $i: $i + 1;
}
