$o: null;
@if $override == yes {
  $o: !important;
}

[class*="set"], [class*="inside-bar"] {
  margin: 0 $o;
  padding: 0 $o;
}

$elements: 24;
$sets-fixed: 960px, 1440px, 1920px;
$sets-fluid: 80, 90, 100;

@each $set in $sets-fixed {
  .set-fixed-#{$set} {
    @media (min-width: $set) {
      width: $set$o;
      & [class*="bar"] {
        $v: math.div($set, $elements);
        width: $v$o;
      }
      @for $i from 1 through $elements {
        & ._#{$i}bars {
          $v: math.div($set, $elements) * $i;
          width: $v$o;
        }
      }
    }
  }
}
@each $set in $sets-fluid {
  .set-fluid-#{$set} {
    $v: #{$set}+0%;
      width: $v$o;
      & [class*="bar"] {
        $v: math.div($set, $elements) + 0%;
        width: $v$o;
      }
      @for $i from 1 through $elements {
        & ._#{$i}bars {
          $v: math.div($set, $elements) * $i + 0%;
          width: $v$o;
        }
    }
  }
}
