$o: null;
@if $override == yes {
  $o: !important;
}

$c: null;
@if $enable-child-selectors == yes {
  $c: $child-selector-extension
}

.center-, .c {
  &x { margin: 0 auto $o; float: none $o; display: block $o; &#{$c} { @extend .cx; }}
  &y { position: absolute $o; top: 50% $o;  transform: translateY(-50%) $o; &#{$c} { @extend .cy; } }
  // y requires parent to be pos-relative
}

.overflow-hidden, .oh         { overflow: hidden $o;      &#{$c} { @extend .oh; } }
.display-inline, .di          { display: inline $o;       &#{$c} { @extend .di; } }
.display-inline-block, .dib   { display: inline-block $o; &#{$c} { @extend .dib; } }
.display-none, .dn            { display: none $o;         &#{$c} { @extend .dn; } }
.visibility-hidden, .vh       { visibility: hidden;       &#{$c} { @extend .vh; } }

.cfx {
  display: block $o; clear: both $o; float: none $o;  &#{$c} { @extend .cfx; }
  &a::after { content: " " $o; clear: both $o; display: table $o; }
}

.float-, .f {
  &l { float: left $o;  &#{$c} { @extend .fl; } }
  &r { float: right $o; &#{$c} { @extend .fr; } }
  &n { float: none $o;  &#{$c} { @extend .fn; } }
}

@each $z in $z-indexes { .z#{$z} { z-index: $z$o;  &#{$c} { @extend .z#{$z} } } }
.z-inherit, .zih { z-index: inherit $o;  &#{$c} { @extend .zih } }
.z-auto, .za     { z-index: auto $o;     &#{$c} { @extend .za  } }

.pos- , .p {
  &static, &stc    { position: static $o;   &#{$c} { @extend .pstc } }
  &relative, &rel  { position: relative $o; &#{$c} { @extend .prel } }
  &fixed, &fxd     { position: fixed $o;    &#{$c} { @extend .pfxd } }
  &absolute, &abs  { position: absolute $o; &#{$c} { @extend .pabs } }
  &sticky, &sty    { position: sticky $o;   &#{$c} { @extend .psty } }
  &inherit, &ih    { position: inherit $o;  &#{$c} { @extend .pih } }
}

.list-, .l {
  &unstyled, &us { list-style : none $o;            &#{$c} { @extend .lus } }
  &disc, &di     { list-style-type: disc $o;        &#{$c} { @extend .ldi } }
  &circle, &cl   { list-style-type: circle $o;      &#{$c} { @extend .lcl } }
  &square, &sq   { list-style-type: square $o;      &#{$c} { @extend .lsq } }
  &decimal, &dc  { list-style-type: decimal $o;     &#{$c} { @extend .ldc } }
  &hyphen, &hp   { list-style-type: "- " $o;        &#{$c} { @extend .lhp } }
  &plus, &pl     { list-style-type: "+ " $o;        &#{$c} { @extend .lpl } }
  &inside, &is   { list-style-position: inside $o;  &#{$c} { @extend .lis } }
  &outside, &os  { list-style-position: outside $o; &#{$c} { @extend .los } }
  &inherit, &ih  { list-style: inherit $o;          &#{$c} { @extend .lih } }
}

.list-item-comma + .list-item-comma::before, .lic + .lic::before { content: "\, " $o; }
.list-item-slash + .list-item-slash::before, .lis + .lis::before { content: " \/ " $o; }
.list-item-pipe  + .list-item-pipe::before,  .lip + .lip::before { content: " \| " $o; }

@if $enable-child-selectors == yes {
.list-item-comma#{$c} + .list-item-comma#{$c}::before, .lic#{$c} + .lic#{$c}::before { content: "\, " $o; }
.list-item-slash#{$c} + .list-item-slash#{$c}::before, .lis#{$c} + .lis#{$c}::before { content: " \/ " $o; }
.list-item-pipe#{$c}  + .list-item-pipe#{$c}::before,  .lip#{$c} + .lip#{$c}::before { content: " \| " $o; }
}
